@media (max-width: #{$page_width + 50}) {
	.page {
		width: 97%;
	}

	main, .sidebar {
		width: 100%;
		float: none;
	}

	nav.main, nav.footer {
		ul {
			width: 100%;
		}

		li a {
			padding: 20px;
			font-size: 18px;
		}
	}

	.highlight {
		display: inline-block;
	}
}
