nav.main, nav.footer {
	ul {
		margin: 0 auto;
		width: $page_width;
	}

	li {
		display: inline-flex;

		&.current a,
		a:hover {
			color: #00f;
			text-decoration: underline;
		}
	}

	a {
		font-family: "DejaVu Sans Mono", monospace;
		padding: 12px;
		font-size: 16px;
		text-decoration: none;
		text-transform: lowercase;
	}
}

nav.main {
	border-bottom: 1px solid #ddd;
}

nav.footer {
	border-top: 1px solid #ddd;
}
